@import url("fonts.css");

@import url("reset.css");

body {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 600;
	font-style: normal;
	line-height: 1.26;
	/* 24/19 */
	background-color: #f8f8f8;
}

.header {
	color: #535353;
	margin-bottom: 30px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.wrapper > main {
	flex-grow: 1;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-top {
	padding: 15px 0;
}

.header-top__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 30px;
}

.header-top__menu {
	display: flex;
	flex: 1 1 560px;
	flex-wrap: wrap;
	column-gap: 30px;
}

.header-top__link {
	position: relative;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	/* 30px/16 */
	/* color: #535353; */
}

.header-top__link::first-letter,
.help__span::first-letter {
	text-transform: uppercase;
}

/* Єфекти hover та active */

.animation::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background-color: transparent;
	left: 0;
	bottom: 0;
	transform: scaleX(0);
	transform-origin: right;
	transition: background-color 0.3s, color 0.3s, transform 0.3s;

}

.animation:hover::after {
	background-color: #FFBC57;
	transform: scaleX(1);
	transform-origin: left;
}

.animation:active {
	color: #FFBC57;
}

.header-top__item:has(.animation:active) .animation::after {
	background-color: transparent;
}

.info {
	display: flex;
	column-gap: 30px;
	/* margin-left: auto; */
	/*можна використати це ы прибрати у флекс контейнера space-beetwen і вони розійдуться по краям*/
}

.help {
	display: flex;
	flex-grow: 1;
	gap: 20px;
}

.help__span {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875;
	/* 30px/16 */
	/* color: #535353; */
}

.help__messengers {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

/* Задаємо обгортці картинки max-width-30px, а самій картинці width-100% тобто вона буде на всі 100% від max-width тобто завжди 30px */

.help__link {
	max-width: 30px;
}

.help__link img {
	width: 100%;
}

.help__item {
	transition: transform 0.5s;
}

.help__item:hover {
	transform: scale(1.2);
}

.help__item:active {
	opacity: 0.8;
	transition: 0.5s;
}

.languages {
	display: flex;
	align-items: center;
}

.languages__span {
	font-size: 19px;
	line-height: 1.26;
	/* 24px/19 */
	/* color: #535353; */
	text-transform: uppercase;
}

.animation-arrow {
	transition: scale 0.8s;
}

.animation-arrow:hover {
	transform: scale(1.3);
}

.animation-arrow:active {
	transform: scale(1.3);
}

/* Секція haeder-middle */

.haeder-middle {
	padding: 25px 0;
	background-color: #fff;
	border-bottom: 2px solid #F8F8F8;
}

.haeder-middle__inner {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
}

.animation-icon:hover {
	opacity: 0.8;
	transition: opacity 0.3s;
}

.animation-icon:active {
	opacity: 0.6;
	transition: opacity 0.3s;
}

.logo {
	max-width: 250px;
}

.logo img {
	width: 100%;
}

.logo--margin {
	margin-right: 34px;
}

.btn {
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	/* 24/19 */
	text-transform: capitalize;
	color: #FFF;
	padding: 11px 20px;
	background-color: #FFBC57;
	border-radius: 8px;
	transition: box-shadow 0.5s;
}

.btn--margin,
.search--margin,
.phones--margin {
	margin-right: 30px;
}

.btn::before {
	content: "";
	width: 24px;
	height: 24px;
	background-image: url("../img/header-icons/menu-catalog.svg");
	margin-right: 10px;
	vertical-align: text-bottom;
}

.btn:hover {
	box-shadow: 0px 0px 4px 2px #cd1616;
}

.btn:active {
	box-shadow: inset 0px 0px 4px 2px #cd1616;
}

.search img {
	max-width: 100%;
}

.phones {
	display: flex;
	flex: 0 1 230px;
	gap: 10px;
}

.numbers__span {
	display: block;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
	/* 22px/13 */
	/* color: #535353; */
}

.numbers__span::first-letter {
	text-transform: uppercase;
}

.numbers__tel {
	font-size: 20px;
	line-height: 1.4;
	/* 28px/20 */
	color: #2B2929;
}

.haeder-middle__icon {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.favorite,
.cart {
	max-width: 50px;
}

.favorite img,
.cart img {
	width: 100%;
}

/* Секція haeder-bottom */

.header-bottom {
	background-color: #fff;
	padding: 18px 0;
}

.menu {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
}

.sale {
	display: flex;
	column-gap: 40px;
	row-gap: 10px;
	flex-wrap: wrap;
}

.sale__item {
	display: flex;
	gap: 10px;
}

.sale__item:first-child {
	gap: 5px;
}

.sale__link {
	position: relative;
	font-size: 19px;
	padding-left: 34px;
}

.sale__link::before {
	position: absolute;
	content: "";
	width: 24px;
	height: 24px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	left: 0;
	top: 0;
}

.sale__link--sale::before {
	background-image: url('../img/header-icons/sale.svg');
}

.sale__link--credit::before {
	background-image: url('../img/header-icons/credit.svg');
}

.sale__link--promotion::before {
	background-image: url('../img/header-icons/star.svg');
}

.sale .sale__item:first-child .sale__link {
	padding-left: 29px;
}

.animation-sale::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background-color: transparent;
	right: 0;
	bottom: -3px;
	transform: scaleX(0);
	transform-origin: left;
	transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.animation-sale--promotion::after {
	width: calc(100% - 29px);
}

.animation-sale--sale::after,
.animation-sale--credit::after {
	width: calc(100% - 34px);
}

.animation-sale:hover::after {
	transform: scaleX(1);
	transform-origin: right;
	background-color: #FFBC57;
}

.animation-sale:active {
	color: #FFBC57;
}

.sale__item:has(.animation-sale:active) .animation-sale::after {
	background-color: transparent;
}

.sale__link::first-letter,
.rooms__link::first-letter {
	text-transform: uppercase;
}

.rooms {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;
}

.rooms__link {
	position: relative;
	font-size: 19px;
}

.rooms__item:has(.animation:active) .animation::after {
	background-color: transparent;
}

/* Секція популярні товари */

.popular-categories {
	margin-bottom: 70px;
}

.popular-categories__title,
.most-popular-products__title {
	margin-bottom: 40px;
}

.title {
	font-size: 40px;
	line-height: 1.2;
	/* 48px/40 */
	color: #2B2929;
}

.title::first-letter {
	text-transform: uppercase;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 24px;
}

.popular-list__item {
	position: relative;
	flex-basis: 250px;
	flex-grow: 0;
	flex-shrink: 1;
	background: url("../img/popular_categories/frame.webp") bottom no-repeat, #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 25%);
	overflow: hidden;
}

.popular-list__item:hover {
	box-shadow: inset 0px 0 20px 2px rgba(0, 0, 0, 25%)
}

/* .popular-list__images::after {
	content: "";
	width: 250px;
	height: 192px;
	background-image: url("../img/popular_categories/frame.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	left: 0;
	bottom: 0;
} */

.popular-list__heading {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	padding: 20px 20px 0 20px;
}

.popular-list__title {
	font-size: 20px;
	line-height: 1.4;
	/* 28px/20 */
	color: #2B2929;
	max-width: 70%;
	transition: transform 0.2s, color 0.2s;
}

.popular-list__link-title::first-letter {
	text-transform: uppercase;
}

.popular-list__span {
	font-size: 20px;
	line-height: 1.4;
	/* 28px/20 */
	color: #B1B1B1;
}

.popular-list__images {
	max-width: 250px;
	/* transition: transform 0.5s, opacity 0.3s; */
}

.popular-list__title:hover {
	transform: scale(1.1);
}

.popular-list__link:hover {
	transform: rotate(45deg);
}

.popular-list__images:active,
.popular-list__link:active {
	opacity: 0.7;
}

.popular-list__title:active {
	color: #FFBC57;
}

.popular-list__link {
	position: absolute;
	right: 20px;
	bottom: 20px;
	max-width: 50px;
	transition: transform 0.3s, opacity 0.3s;
}

.popular-list__images img,
.popular-list__link img {
	width: 100%;
}

/* Секція найпопулярніші товари */

.most-popular-products--margin {
	margin-bottom: 80px;
}

/* Заголовок секції розширений */

.heading {
	display: flex;
	align-items: center;
	column-gap: 30px;
}

.heading--margin {
	margin-bottom: 40px;
}

.heading__link {
	display: flex;
	flex-shrink: 0;
	column-gap: 10px;
}

.heading__text {
	font-size: 19px;
	line-height: 24px;
	/* 126.316% */
	color: #FFBC57;
	transition: transform 0.3s, opacity 0.3s;
}

.heading__text::first-letter {
	text-transform: uppercase;
}

.heading__text:hover {
	transform: scaleX(1.1);
}

.heading__text:active,
.heading__image:active {
	opacity: 0.7;
}

.heading__link img {
	max-width: 24px;
	width: 100%;
	transition: transform 0.3s, opacity 0.3s;
}

.heading__image:hover {
	transform: scale(1.3) rotate(45deg);
}

.heading__image img {
	width: 100%;
}

/* Карточки секції */

.most-popular-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.products-card {
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
	flex-grow: 0;
	flex-shrink: 1;
	row-gap: 20px;
	border-radius: 8px;
	border: 1px solid #E3E2E2;
	background-color: #FFF;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
	padding: 20px;
}

.products-card__image {
	flex-basis: 220px;
	max-width: 260px;
	transition: transform 0.3s, opacity 0.3s;
}

.products-card__image:hover {
	transform: scale(1.1);
}

.products-card__image:active {
	opacity: 0.7;
}

.products-card__image img,
.products-card__img-stock img,
.price_icon__favorite img,
.price_icon__cart img {
	width: 100%;
}

.products-card__info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* justify-content: space-between; */
	row-gap: 10px;
}

.products-card__size {
	flex-grow: 1;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;
	/* 22px/13 */
	color: #535353;
}

.products-card__title {
	flex-grow: 1;
	font-size: 19px;
	color: #2B2929;
	/* line-height: 1.26; */
	/* 24px/19 */
}

.products-card__stock {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.products-card__img-stock {
	max-width: 24px;
	transition: transform 0.3s, opacity 0.3s;
}

.products-card__img-stock:hover {
	transform:scale(1.2);
}

.products-card__img-stock:active {
	opacity: 0.7;
}

.products-card__span-stock {
	color: #2B2929;
font-size: 13px;
font-weight: 300;
line-height: 1.69; /* 22px/13 */
}

.products-card__price {
	display: flex;
	align-items: center;
}

.price-block {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.price-block__old {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46; /* 22px/15 */
	text-decoration-line: line-through;
	color: #E03D3D;
}

.price-block__curent {
	font-size: 20px;
	line-height: 1.4; /* 28px/20 */
	color: #2B2929;
}

.price-icon {
	display: flex;
	column-gap: 10px;
}

.price-icon__favorite,
.price-icon__cart  {
	max-width: 50px;
	transition: transform 0.3s;
}

.price-icon__favorite svg,
.price-icon__cart svg {
	width: 100%;
}

.price-icon__favorite svg path,
.price-icon__favorite svg circle
.price-icon__cart svg path,
.price-icon__cart svg circle {
	transition: fill 0.3s;
}

.price-icon__favorite:hover,
.price-icon__cart:hover  {
	transform: scale(1.2);
}

.price-icon__favorite:active svg path {
	fill: #F8F8F8;
}

.price-icon__favorite:active svg circle {
	fill: #B1B1B1;
}

.price-icon__cart:active path {
	fill: #FFBC57;
}

.price-icon__cart:active circle {
	fill:#f8f8f8;
}

/* Секція Акції */

.promotions--margin {
	margin-bottom: 70px;	
}

.promotions__header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 30px;
	/* align-items: center; */
	margin-bottom: 46px;
	margin-top: 6px;
}

.promotions-buttons {
	display: flex;
	column-gap: 20px;
}

.button-left,
.button-right {
	max-width: 60px;
	transition: transform 0.3s;
}

.button-left svg,
.button-right svg {
	width: 100%;
}

.button-left svg path,
.button-right svg path,
.button-left svg circle,
.button-right svg circle {
	transition: fill 0.3s;
}

.button-left:hover,
.button-right:hover {
	transform: scale(1.1);
}

.button-left:active svg path,
.button-right:active svg path {
	fill: #fff;
}

.button-left:active svg circle,
.button-right:active svg circle {
	fill: #FFBC57;
}

.promotions__images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.promotions__img {
	flex-basis: 410px;
	/* width: 100%; */
	flex-grow: 0;
	flex-shrink: 1;
	transition: transform 0.5s, opacity 0.3s;
}

.promotions__img img {
	width: 100%;
}

.promotions__img:hover {
	transform: translateY(-5%);
}

.promotions__img:active {
	opacity: 0.7;
}


/* Footer */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B2929;
	padding: 20px 0;
}

.footer__text {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46; /* 22px/15 */
	color: #B1B1B1;
}


