@import url("reset.css");

* {
  color: red;
}

.header__span {
  color: rgb(87, 165, 42);
}

  a {
  color: green;
}

/* .tutorial * {
  color: yellow;
} */ 

/* вибере всі обєкти з классом tutorial__item які в середині класу .tutorial
запис навпаки .tutorial__link .tutorial не спрацює. і не спрацює якщо в тег li вкладена наприклад посилання, колір посилання буде який присвоєний посиланню. Додаємо селектор тега "а" в кінці і перефарбує посилання
*/
.tutorial .tutorial__item {
  color: blueviolet;  
}

.tutorial .tutorial__link {
  color: rgb(33, 8, 126);  
}

/* 
У всіх крім першого єлементу буде заданий колір, та відступи і т.д. і мають однаковій рівень вкладеності
*/
.tutorial__item + .tutorial__item {
  color: rgb(184, 202, 16);  
  margin-bottom: 15px;    
}

div > p {
  color: blue;
}

.header__span {
  color: rgba(238, 13, 13, 0.8);
}

h2,
h3[id] {
  color: cadetblue;   
}

[id*="nati"] {
  color: rgb(212, 17, 17);
}


/* його перебиває томущо більша специфічність але якщо ми добавимо h3[id^="nati"] то він спрацює томущо нижче знаходиться */


[id^="nati"] {
  color: rgb(205, 17, 212);
}

div.paleolith.old-age {
  color: aqua;
}

[title|="сторінка"] {
  color: rgb(166, 9, 228);
}

.nature-reserve__list [class$="__item"] {
  color: black;
}

.nature-reserve__list [class*="__item"] a,
[class="nature-reserve__item image"] {
  color: black;
}

.nature-reserve__list .image [title~="на"]  {
  color: rgb(236, 233, 15);
}

.nature-reserve__list .nature-reserve__item [href="http://chnpu.edu.ua/"]  {
  color: rgba(41, 211, 78);
}

span.span.span-text {
  color: chartreuse;
}

[title~="Посилання"]::before,
[title$="ресурси"]::after,
[title$="inside"]::after {
  display: inline-block;
  content: "(!!!)";
  color: rgba(165, 13, 145, 0.87);
}

.paleolith.old-age ~ p {
  color: rgb(204, 52, 78);
}

.footer-link h4 {
  color: black;
}

.footer-link a {
  color: rgb(61, 21, 6);
}

.footer-link > ol > li > [title$="inside"] {
  color: rgb(212, 17, 17);
}

