
// Сімейство шрифтів

$baseFontFamily: "Exo";

// Кольори

$white: #fff;

// Колір тексту в placeholder input секції footer

$grey: #777777;

// Колір тексту в стані active

$blue: #0B0045;

// Колір бекграунда секції header
$black1: #000000cc;

// Колір бекграунда основний
$black: #000000; 

// Колір бордеру поля input

$blackTransparent: #212121;

// Колір бордеру поля input при hover

$lightGrey: #ffffffc9;

// Градіент лінії під загаловками
$textLineGradient: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);  

// Градіент бекграунда секції About-me

$backgroundgradient: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.99) 85.54%);

// Градіент фону секції "separator"
$separatorGradientColor: linear-gradient(90deg, rgba(255, 0, 0, 0.102) 0%, rgba(66, 255, 0, 0.10) 48.9%, rgba(36, 0, 255, 0.10) 100%);  

// Основний колір фону кнопки
$violet: #6F00A9;

// Колір фону карток в секції Testimonials
$violet: #6F00A9;

// Брейкпоинти для адаптивної верстки

$largeScreen: 1265px;

$desktop: 1140px;

$smallScreen: 992px;

$smallScreen1: 991.98px;

$smallScreen2: 900px;

$tablets: 768px;

$mobile: 576px;

$smallMobile: 480px;

$extraSmallMobile: 375px;


// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 480;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1273;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================




