@use "sass:math";


@media (max-width: 1265px) {
	.header {
			position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	background-color: #000001;
	}

	.footer {

		// .footer__container

		&__container {
			column-gap: 100px;
		}
	}

}

@media (max-width: 1140px) {

	*h2 {
		font-size: 50px;
	}

	.navigation {

		// .navigation__list

		&__list {
			column-gap: 15px;
		}
	}

	.hero {

		// margin-bottom: 20px;

		&__container {
			column-gap: 34px;
		}
	}

	.text-hero {

		h1 {
			font-size: 70px;
		}
	}

	.about-me {
		margin-bottom: 100px;

		&__block {
			padding: 60px 30px;
		}
	}

	.footer {
		position: relative;

		&__scroll-up {
			position: absolute;
			writing-mode: inherit;
			left: 50%;
			top: 90%;
			background-color: #6F00A9;
			padding: 10px;
			margin-bottom: 0;
			transform: rotate(0deg) translateX(-50%);
		}
	}
}

@media (max-width: 991.98px) {

	*h2 {
		font-size: 42px;
	}

	.header {
		position: relative;
		padding: 40px 0 0;
	}

	.navigation {
		// display: none;
		position: fixed;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		background-color: #000000;
		overflow: auto;
		padding: 84px 0 30px;
		transition: top 1s;

		&::before {
			position: fixed;
			content: "";
			width: 100%;
			height: 84px;
			left: 0;
			top: 0;
			z-index: 5;
		}

		&__list {
			flex-direction: column;
			align-items: center;
		}

		&__item {
			// position: absolute;
			width: 100%;
			// left: 0;
			// top: -100%;
			// opacity: 0;
			// visibility: hidden;
			// transform: translate(0, -100%);
			text-align: center;
			// animation: show-item 1s ease forwards;

			// @for $i from 1 through 5 {
			// 	&:nth-child(#{$i}) {
			// 		$delay: ($i - 1) * 0.2;
			// 		animation-delay: #{$delay}s;
			// 	}
			// }
		}

		&__link {
			font-size: 18px;
			width: 100%;
		}
	}

	.action-header {
		display: none;
	}

	.menu-burger {
		display: block;
		cursor: pointer;
	}

	.menu-open .menu-burger span {
		display: none;
	}

	.menu-open .menu-burger::before {
		top: 47%;
		transform: rotate(-45deg) translate(0, -50%);
	}

	.menu-open .menu-burger::after {
		top: 42%;
		transform: rotate(45deg) translate(0, 50%);
	}

	.menu-open header {
		padding: 40px 0 0;
	}

	.menu-open .navigation {
		// transform: translate(0%, 100%);
		top: 0%;
	}

	.menu-open .navigation__item {
		opacity: 0;
		visibility: hidden;
		transform: translate(0, -100%);
		animation: show-item 1s ease forwards;

		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				$delay: ($i - 1) * 0.2;
				animation-delay: #{$delay}s;
			}
		}
	}

	@keyframes show-item {
		0% {}

		50% {
			opacity: 0.3;
			visibility: visible;
		}

		100% {
			// top: 0%;
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0px);
		}
	}

	.hero {
		// background: url("../img/hero/background_1.webp") 116% 15px / 588px 408px no-repeat,
		// url("../img/hero/background.webp") center / cover no-repeat;

		&__container {
			column-gap: 0;
			padding-top: 0;
		}
	}

	.text-hero {

		h1 {
			font-size: 60px;
		}

		&__link {
			padding: 15px 40px;
		}
	}

	picture {
		aspect-ratio: 376 / 375;
		// width: 376px;
		// height: 375px;
	}

	.about-me {

		&__list {
			column-gap: 40px;
		}

		&__item {
			column-gap: 40px;
		}

		&__link {
			font-size: 18px;
		}
	}

	.portfolio {
		padding-bottom: 150px;

		& .section-title--left {
			margin-bottom: 100px;
		}

		&__item {
			flex-basis: 300px;
			row-gap: 35px;

			h3 {
				font-size: 36px;
			}
		}

		&__image {
			max-width: 300px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&::before {
				width: 90px;
				height: 90px;
			}

			&::after {
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 24px solid red;
				left: 48%;
			}
		}
	}

	.testimonials {

		&__block {
			padding: 0 70px;

			& .section-title {
				margin-bottom: 100px;
			}
		}

		// .testimonials__list

		&__list {
			column-gap: 40px;
		}

		// .testimonials__item

		&__item {
			flex-basis: 250px;
			flex-grow: 0;
			flex-shrink: 0;
			padding: 40px 25px;

			h3 {
				font-size: 36px;
			}

			span {
				font-size: 18px;
			}

			p {
				font-size: 18px;
			}
		}
	}

	.footer {

		&__container {
			justify-content: center;
		}

		&__inner {
			flex-basis: 670px;

			&>.section-title {
				text-align: center;

				h2 {

					&::after {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	.form-footer {
		justify-content: center;
		align-items: flex-end;

		&__wrapper {
			flex-direction: column;
		}
	}

	.address-footer {
		column-gap: 30px;
	}
}

@media (max-width: 900px) {

	.text-hero {

		flex-basis: 460px;

		h1 {
			font-size: 48px;
		}
	}

	.testimonials {

		&__block {
			padding: 0 20px;
		}
	}

	.address-footer {

		&__phone-number,
		&__location-name,
		&__email {
			font-size: 17px;
		}
	}
}

@media (max-width: 768px) {

		.navigation {
		
		&__list {
			row-gap: 15px;
		}
	}

	*h2 {
		font-size: 32px;
	}

	.hero {
		// background: url("../img/hero/background_1.webp") 100% 15px / 400px 408px no-repeat,
		// url("../img/hero/background.webp") center / cover no-repeat;
		margin-bottom: 40px;
	}

	.text-hero {
		h1 {
			font-size: 42px;
		}
	}

	.about-me {

		&__text {

			p {
				font-size: 16px;
			}
		}

		&__list {
			column-gap: 30px;
		}

		&__item {

			column-gap: 30px;
		}

		&__link {
			font-size: 16px;
		}
	}

	.portfolio {
		padding-bottom: 150px;

		& .section-title--left {
			margin-bottom: 100px;
		}

		&__item {
			flex-basis: 250px;
			column-gap: 30px;

			h3 {
				font-size: 28px;
			}
		}

		&__image {
			max-width: 250px;

			&::before {
				width: 90px;
				height: 90px;
			}

			&::after {
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
				border-left: 24px solid red;
				left: 48%;
			}
		}
	}

	.testimonials {
		padding-bottom: 100px;

		&__block {

			& .section-title {
				margin-bottom: 100px;
			}
		}

		// .testimonials__list

		&__list {
			column-gap: 35px;
		}

		// .testimonials__item

		&__item {
			flex-basis: 205px;
			flex-grow: 0;
			flex-shrink: 0;
			padding: 30px 15px;

			h3 {
				font-size: 28px;
			}
		}
	}

	.form-footer {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;

		&__wrapper {
			flex-direction: row;
		}

		&__wrapper {
			justify-content: space-between;
			max-width: 445px;
			width: 100%;
		}

		&__label {
			flex-shrink: 0;
		}

		&__name,
		&__message {
			width: 56%;
		}
	}

	.address-footer {
		flex-direction: column;
		row-gap: 20px;
	}

}

@media (max-width: 576px) {

	.section-title {

		h2 {
			font-size: 24px;

			&::after {
				bottom: -10px;
			}
		}
	}

	.text-hero {

		&__name {
			font-size: 14px;
		}

		h1 {
			font-size: 36px;
		}

		&__discribe {
			font-size: 14px;
		}

		&__link {
			padding: 15px 30px;
		}
	}

	.about-me {
		margin-bottom: 24px;

		&__text {

			margin-bottom: 40px;

			p {
				font-size: 14px;
			}
		}

		&__list {
			column-gap: 20px;
		}

		&__item {
			column-gap: 20px;
		}

		&__link {
			font-size: 14px;
		}
	}

	.portfolio {
		padding-bottom: 84px;

		& .section-title--left {
			margin-bottom: 26px;
		}

		&__list {
			column-gap: 21px;
		}

		&__item {
			flex-basis: 193px;
			flex-grow: 0;
			flex-shrink: 0;
			row-gap: 21px;

			h3 {
				font-size: 16px;
				line-height: 1.07;
				/* 15px/14 */
				/* 107.143% */
			}
		}

		&__image {
			// aspect-ratio: 193 / 193;
			max-width: 193px;

			&::before {
				width: 53px;
				height: 53px;
			}

			&::after {
				border-top: 13px solid transparent;
				border-bottom: 13px solid transparent;
				border-left: 17px solid red;
			}

			img {
				width: 100%;
			}
		}
	}

	.testimonials {
		padding-bottom: 60px;

		&__block {
			padding: 0;

			& .section-title {
				margin-bottom: 26px;
			}
		}

		&__list {
			flex-direction: column;
			align-items: center;
			row-gap: 24px;
		}

		&__item {
			max-width: 230px;
			width: 100%;
			padding: 35px 32px;
			flex-basis: 0;

			h3 {
				font-size: 20px;
				line-height: 2;
				/* 40px/20 */
				/* 200% */
			}

			span {
				font-size: 18px;
				line-height: 1.11;
				/* 20px/18 */
				/* 111.111% */
			}

			p {
				font-size: 14px;
				line-height: 2.14;
				/* 30px/14 */
				/* 214.286% */
				letter-spacing: -0.28px;
			}
		}
	}
}


@media (max-width: 393px) {
	.header {
		padding: 36px 0 3px;

		&__container {
			justify-content: space-between;
		}

		&__logo {
			max-width: 94px;
			width: 100%;

			span {
				font-size: 16px;
				line-height: 1.25;
				/* 20/16 */
				letter-spacing: -1.6px;
			}
		}
	}

	.navigation {
		
		&__list {
			row-gap: 10px;
		}
	}

	.action-header {
		display: none;
		position: absolute;
		left: 50%;
		bottom: -157%;
		transform: translate(-50%);

		&__list {
			column-gap: 12px;
		}
	}

	.page {
		position: relative;
	}

	.hero {
		background: url("../img/hero/background_mobile.webp") 279px 42px / 109px 147px no-repeat,
			url("../img/hero/background_mobile_1.webp") center bottom / 393px 300px no-repeat;
		// background-image: url("../img/hero/background_mobile.webp");
		// background-repeat: no-repeat;
		// background-position-x: 279px;
		// background-position-y: 42px;
		// background-size: 109px, 147px;
		padding: 26px 0 20px;
		margin-bottom: 0;

		&__container {
			flex-direction: column;
			row-gap: 105px;
			// column-gap: 31px;
			padding-top: 0;
		}

		picture {
			display: flex;
			justify-content: center;
			// aspect-ratio: 177/260;
			aspect-ratio: 0/0;

			img {
				// width: 100%;
				// height: 100%;
				object-fit: cover;
			}
		}
	}

	.text-hero {
		row-gap: 12px;
		max-width: 233px;
		width: 100%;
		flex-basis: content;
		padding-top: 0;

		&__name {
			row-gap: 2px;
			line-height: 1.07;
			/* 15px/14 */
			letter-spacing: -0.28px;
			text-transform: uppercase;
		}

		h1 {
			font-size: 32px;
			line-height: 1.09;
			/* 35px/32 */
			/* 109.375% */
		}

		&__discribe {
			line-height: 1.07;
			/* 15px/14 */
			/* 107.143% */
			letter-spacing: -0.28px;
		}

		&__link {
			font-size: 14px;
			line-height: 1.42;
			/* 20px/14 */
			/* 142.857% */
			padding: 8px 40px;
		}
	}

	.section-title {
		margin-bottom: 26px;

		h2 {
			font-size: 24px;
			line-height: 1.25;
			/* 30px/24 */
			/* 125% */

			&::after {
				bottom: -4px;
			}
		}
	}

	.about-me {
		padding-bottom: 115px;
		background: none;

		&--margin {
			margin-bottom: 0;
		}

		&__block {
			padding: 0;
		}

		&__text {
			margin: 0 auto;
			max-width: 332px;
			width: 100%;

			p {
				line-height: 2.14;
				/* 30px/14 */
				/* 214.286% */
				letter-spacing: -0.28px;
			}
		}

		&__list {
			position: absolute;
			column-gap: 20px;
			left: 11px;
			top: 247px;
		}

		&__item {
			column-gap: 20px;

			&::after {
				width: 4px;
				height: 4px;
			}
		}

		&__link {
			line-height: 1.07;
			/* 15px/14 */
			/* 107.143% */
		}

		&__social {
			display: block;

			.action-header {
				position: absolute;
				display: block;
				left: 50%;
				top: 38%;

				&__list {
					flex-wrap: nowrap;
					column-gap: 11px;
				}
			}
		}
	}

	.portfolio {
		padding-bottom: 84px;

		&__list {
			column-gap: 21px;
		}

		&__item {
			flex-basis: 193px;
			flex-grow: 0;
			flex-shrink: 0;
			row-gap: 21px;

			h3 {
				font-size: 14px;
				line-height: 1.07;
				/* 15px/14 */
				/* 107.143% */
			}
		}

		&__image {
			// aspect-ratio: 193 / 193;
			max-width: 193px;

			&::before {
				width: 53px;
				height: 53px;
			}

			&::after {
				border-top: 13px solid transparent;
				border-bottom: 13px solid transparent;
				border-left: 17px solid red;
			}

			img {
				width: 100%;
			}
		}
	}

	.separator {
		height: 20px;
	}

	.footer {
		position: relative;
		padding: 40px 0 150px;

		&__container {
			justify-content: center;
			row-gap: 92px;
		}

		&__inner {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-basis: 200px;
			flex-grow: 0;
			flex-shrink: 1;

			&>.section-title {
				max-width: 171px;
				margin-bottom: 44px;

				h2 {
					&::after {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			row-gap: 44px;
		}

		&__scroll-up {
			display: none;
		}

		&__social {
			display: block;
			// position: relative;

			& .action-header {
				display: block;
				// left: 50%;
				// top: -33px;
				bottom: 64px;
			}
		}
	}

	.form-footer {
		flex-direction: column;
		align-items: center;
		row-gap: 8px;
		margin-bottom: 0;

		&__wrapper {
			flex-direction: column;
			row-gap: 4px;
		}

		&__label {
			font-size: 18px;
			line-height: 1.11;
			/* 20px/18 */
			/* 111.111% */
			letter-spacing: -0.36px;
		}

		&__name,
		&__message {
			padding: 8px 12px;

			&::placeholder {
				font-size: 16px;
				line-height: 1.125;
				/* 18px/16 */
				/* 112.5% */
				letter-spacing: -0.32px;
			}
		}

		&__button {
			width: 99px;
			padding: 8px 20px;
		}
	}

	.section-title--mobile {
		display: block;
		margin: 0;

		h2 {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.25;
			/* 30px/24 */
			/* 125% */
			text-transform: uppercase;
		}
	}

	.address-footer {
		flex-direction: column;
		row-gap: 12px;

		&__phone-block,
		&__location-block,
		&__email-block {
			align-items: center;
			column-gap: 8px;
		}

		&__phone-number,
		&__location-name,
		&__email {
			font-size: 14px;
			font-style: normal;
			line-height: 1.42;
			/* 20px/14 */
			/* 142.857% */
			letter-spacing: -0.28px;
		}

		&__email-block {
			order: 1;
		}
	}
}