@use "sass:math";

@import "_fonts.scss";

@import "_reset.scss";

@import "_variables.scss";

@import "_mixins.scss";

// @media (prefers-reduced-motion: no-preference) {
//   body {
//     scroll-behavior: smooth;
//   }
// }

body {
	font-family: "Exo", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	color: $primaryTextColor;
	background-color: $backgroundPrimeryColor;

	// body.lock

	&.lock {
		overflow: hidden;
	}
}

h2 {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.16;
	/* 70px/60 */
	text-transform: uppercase;

	@include bp($point_2) {
		font-size: 50px;
	}

	@include bp($point_3) {
		font-size: 42px;
	}

	@include bp($point_5) {
		font-size: 32px;
	}

	@include bp($point_6) {
		font-size: 24px;
	}
}

h3 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1;
	/* 40px/40 */
	text-transform: uppercase;

	@include bp($point_3) {
		font-size: 36px;
	}

	@include bp($point_5) {
		font-size: 28px;
	}

	@include bp($point_6) {
		font-size: 16px;
		line-height: 1.07;
		/* 15px/14 */
		/* 107.143% */
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.page {
	flex-grow: 1;

	@include bp($point_7) {
		position: relative;
	}
}

[class*="__container"] {
	max-width: 1303px;
	padding: 0 15px;
	margin: 0 auto;
	// overflow: hidden;
}

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	background-color: $backgroundColorHeader;
	padding: 60px 0 46px;

	@include bp($point_3) {
		// position: relative;
		padding: 20px 0 0;
	}

	@include bp($point_7) {
		padding: 36px 0 3px;
	}

	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		// column-gap: 102px;
		row-gap: 15px;

		@include bp($point_7) {
			justify-content: space-between;
		}
	}

	// .header__logo

	&__logo {
		z-index: 2;
		// max-width: 177px;
		// width: 100%;

		@include bp($point_3) {
			z-index: 3;
		}

		@include bp($point_7) {
			max-width: 94px;
			width: 100%;
		}

		span {
			display: inline-block;
			font-family: "Exo 2", sans-serif;
			font-size: 30px;
			line-height: 1; //№3 - Менше ніж 1 не треба додавати. Висота рядка має бути мінімум по висоті тексту.
			/* 20/30 */
			letter-spacing: -3px;
			width: 177px;

			@include bp($point_7) {
				font-size: 16px;
				line-height: 1.25;
				/*125%; /* 20/16 */
				letter-spacing: -1.6px;
			}
		}
	}
}

.navigation {

	@include bp($point_3) {
		position: fixed;
		left: 0;
		top: -100%;
		width: 100%;
		height: 100%;
		background-color: #000000;
		overflow: auto;
		padding: 84px 0 30px;
		transition: top 1s;

		.menu-open & {
			// transform: translate(0%, 100%);
			top: 0%;
		}

		.menu-open &::before {
			// display: block;
			position: fixed;
			// display: none;
			content: "";
			width: 100%;
			height: 90px;
			left: 0;
			top: 0;
			background-color: #000001;
			z-index: 3;
		}
	}

	// .navigation__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 60px;
		row-gap: 20px;

		@include bp($point_2) {
			column-gap: 20px;
		}

		@include bp($point_3) {
			flex-direction: column;
			align-items: center;
		}

		@include bp($point_5) {
			row-gap: 15px;
		}

		@include bp($point_7) {
			row-gap: 10px;
		}
	}

	// .navigation__item

	&__item {
		@include bp($point_3) {
			width: 100%;
			text-align: center;


			.menu-open & {
				opacity: 0;
				visibility: hidden;
				transform: translate(0, -100%);
				animation: show-item 1s ease forwards;

				@for $i from 1 through 5 {
					&:nth-child(#{$i}) {
						$delay: ($i - 1) * 0.2;
						animation-delay: #{$delay}s;
					}
				}
			}

			@keyframes show-item {
				0% {}

				50% {
					opacity: 0.3;
					visibility: visible;
				}

				100% {
					// top: 0%;
					opacity: 1;
					visibility: visible;
					transform: translate(0, 0px);
				}
			}
		}
	}

	// .navigation__link

	&__link {
		font-family: "Orbitron", sans-serif;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.25;
		/* 20px/16 */
		text-transform: uppercase;
		padding: 8px 10px 10px 10px;
		transition: background-color 0.3s, opacity 0.2s;

		@include bp($point_3) {
			font-size: 18px;
			width: 100%;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: #6F00A9;
			}
		}

		&:active {
			opacity: 0.8;
		}
	}
}

.action-header {

	@include bp($point_3) {
		display: none;
	}

	@include bp($point_7) {
		display: block;
	}

	// .action-header__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 17px;
		row-gap: 15px;

		@include bp($point_7) {
			column-gap: 12px;
		}
	}

	// .action-header__link

	&__link {
		// max-width: 20px;
		width: 20px;
		height: 20px;
		padding: 3px 4px 4px 1px;
		transition: transform 0.3s, opacity 0.2s;

		&--icon-size {
			width: 25px;
		}

		img {
			width: 100%; //№4 - Вказуй розміри, взагалі 100% всім зображенням, всім. Щоб б не змінив замовник це не має ламатися.
			height: 100%;
			object-fit: contain;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.3);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}
}

.menu-burger {
	position: relative;
	display: none;
	width: 44px;
	height: 44px;
	// right: -4%;
	// top: 0;
	// padding: 12px 7px;

	@include bp($point_3) {
		display: block;
		cursor: pointer;
		z-index: 3;

		.menu-open & span {
			display: none;
		}

		.menu-open &::before {
			top: 47%;
			transform: rotate(-45deg) translate(0, -50%);
		}

		.menu-open &::after {
			top: 42%;
			transform: rotate(45deg) translate(0, 50%);
		}
	}

	&::before,
	&::after,
	span {
		position: absolute;
		content: "";
		width: 30px;
		height: 3px;
		left: 14px;
		top: 28px;
		background-color: #fff;
		border-radius: 5px;
		transition: transform 0.3s;
	}

	&::after {
		top: 12px;
	}

	span {
		top: 20px;
	}
}

// Секція Hero // Секція Hero // Секція Hero

/* Секція Hero*/

.hero {
	background: url("../img/hero/background.webp") center / cover no-repeat;
	padding-top: 144px;

	@include bp($point_5) {
		padding-top: 80px;
	}

	@include bp($point_7) {
		// background: url("../img/hero/background_mobile.webp") 279px 42px / 109px 147px no-repeat,
		// 	url("../img/hero/background_mobile_1.webp") center bottom / 393px 300px no-repeat;
		background: url("../img/hero/background_mobile_1.webp") center bottom / 393px 300px no-repeat;
		padding: 109px 0 22px;
	}

	&::after {
		display: block;
		content: "";
		width: 100%;
		height: 82px;
		background-color: #000001;

		@include bp($point_6) {
			display: none;
		}
	}

	// .hero__container

	&__container {
		display: flex;
		column-gap: 225px;
		padding-top: 94px;
		overflow: visible;

		@include bp($point_2) {
			column-gap: 100px;
		}

		@include bp($point_3) {
			column-gap: 20px;
			padding-top: 0;
		}

		@include bp($point_5) {
			align-items: flex-end;
		}

		@include bp($point_7) {
			position: relative;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 105px;
			padding-top: 0;
		}
	}

	// .hero__image-section

	&__image-section {
		position: relative;
		max-width: 688px;
		// width: 100%;

		@include bp($point_7) {
			align-self: center;
			max-width: 177px;
		}
	}

	// .hero__image

	&__image {
		position: relative;
		display: block;
		// flex-shrink: 1;
		max-width: 376px;
		width: 100%; //№6 - Якщо зображення не завантажиться ширина має бути такою самою, додатково width 100% додаємо, а max-width не дасть розтягнутися більше ніж те що вказали.
		z-index: 2;



		@media (min-width: 394px) {
			aspect-ratio: 376 / 508;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		@include bp($point_3) {
			aspect-ratio: 376 / 375;
			// width: 376px;
			// height: 375px;
		}

		@include bp($point_7) {
			aspect-ratio: 177/260;

			& img {
				object-position: bottom;
			}
		}
	}

	// .hero__small-decor 

	&__small-decor {
		display: none;

		@include bp($point_7) {
			position: absolute;
			display: block;
			right: 1%;
			top: 3%;
			aspect-ratio: 109/149;

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	// .hero__bg-decor

	&__bg-decor {
		position: absolute;
		left: -44%;
		bottom: 0%;
		// aspect-ratio: 688 / 508;
		width: 182%;
		height: 95%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		@include bp($point_7) {
			display: none;
		}
	}
}

.text-hero {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
	flex-basis: 584px;
	flex-grow: 0;
	flex-shrink: 1;
	// max-width: 584px;
	// width: 100%;
	padding-top: 29px;

	@include bp($point_3) {
		flex-basis: 500px;
	}

	@include bp($point_4) {
		flex-basis: 460px;
	}

	@include bp($point_7) {
		row-gap: 12px;
		max-width: 233px;
		width: 100%;
		flex-basis: 0px;
		padding-top: 0;
	}

	@include bp($point_8) {
		max-width: 189px;
	}

	// .text-hero__name

	&__name {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		font-size: 18px;
		line-height: 1.11;
		/* 20px/18 */
		letter-spacing: -0.36px;
		text-transform: uppercase;

		@include bp($point_6) {
			font-size: 14px;
		}

		@include bp($point_7) {
			row-gap: 2px;
			line-height: 1.07;
			/*107.142857%; /* 15px/14 */
			letter-spacing: -0.28px;
			text-transform: uppercase;
		}

		&::after {
			content: "";
			min-width: 126%;
			height: 1px;
			background-image: $textLineColor;
		}
	}

	// .text-hero__discribe

	&__discribe {
		font-size: 18px;
		line-height: 2.22;
		/* 40px/18 */
		letter-spacing: -0.36px;
		text-transform: capitalize;

		@include bp($point_6) {
			font-size: 14px;
		}

		@include bp($point_7) {
			line-height: 1.07;
			/* 15px/14 */
			/* 107.143% */
			letter-spacing: -0.28px;
		}

		@include bp($point_8) {
			text-align: center;
		}
	}

	// .text-hero h1

	h1 {
		font-family: Exo;
		font-size: 80px;
		font-style: normal;
		font-weight: 700;
		line-height: 0.875;
		/* 70px/80 */
		text-transform: uppercase;

		@include adaptiveValue("font-size", 80, 32);

		// @include bp($point_2) {
		// 	font-size: 70px;
		// }

		// @include bp($point_3) {
		// 	font-size: 60px;
		// }

		// @include bp($point_4) {
		// 	font-size: 48px;
		// }

		// @include bp($point_5) {
		// 	font-size: 42px;
		// }

		// @include bp($point_6) {
		// 	font-size: 32px;
		// }

		@include bp($point_7) {
			line-height: 1.09;
			/* 35px/32 */
			/* 109.375% */
		}

		@include bp($point_8) {
			font-size: 26px;
		}
	}
}

.button {
	@include button (20px, $primaryTextColor, 15px 60px, $buttonPrimeryColor);
	font-family: "Orbitron", sans-serif;
	font-weight: 900;
	transition: background-color 0.3s, color 0.3s;

	@include bp($point_3) {
		padding: 15px 40px;
	}

	@include bp($point_6) {
		padding: 15px 30px;
	}

	@include bp($point_7) {
		font-size: 14px;
		line-height: 1.42;
		/* 20px/14 */
		/* 142.857% */
		padding: 8px 40px;
	}

	@include bp($point_8) {
		margin: 0 auto;
	}

	// .button--padding

	&--padding {
		padding: 10px 40px;
	}

	// .button--font-size

	&--font-size {
		font-size: 18px;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: $buttonHoverColor;
		}
	}

	&:active {
		color: $textColorActive;
		background-color: $buttonActiveColor;
	}
}

// Секція About-me
/* Секція About-me */

.about-me {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.99) 85.54%), url("../img/about_me/bckgi_about_me.webp") lightgray center center/ cover no-repeat;
	padding-bottom: 84px;

	@include bp($point_4) {
		padding-bottom: 42px;
	}

	@include bp($point_6) {
		padding-bottom: 24px;
	}

	@include bp($point_7) {
		position: relative;
		background: none;
		padding-bottom: 35px;
	}

	// .about-me__block

	&__block {
		padding: 120px 61px;
		overflow: hidden;

		@include bp($point_2) {
			padding: 60px 30px;
		}

		@include bp($point_7) {
			padding: 0;
			margin-bottom: 20px;
		}
	}

	// .about-me__text

	&__text {
		text-align: center;
		margin-bottom: 60px;

		@include bp($point_6) {
			margin-bottom: 40px;
		}

		@include bp($point_7) {
			margin: 0 auto;
			max-width: 332px;
			width: 100%;
		}

		p {
			display: inline-block;
			font-size: 18px;
			line-height: 2.22;
			/* 40px/18 */
			/* 222.222% */
			letter-spacing: -0.36px;
			max-width: 992px;
			text-align: center;
			text-transform: capitalize;

			@include adaptiveValue("font-size", 18, 14);

			// @include bp($point_5) {
			// 	font-size: 16px;
			// }

			// @include bp($point_6) {
			// 	font-size: 14px;
			// }

			@include bp($point_7) {
				line-height: 2.14;
				/* 30px/14 */
				/* 214.286% */
				letter-spacing: -0.28px;
			}
		}
	}

	// .about-me__list

	&__list {
		display: flex;
		justify-content: space-between;
		column-gap: 60px;
		overflow: auto;

		@include adaptiveValue("column-gap", 60, 20);

		// @include bp($point_3) {
		// 	column-gap: 40px;
		// }

		// @include bp($point_5) {
		// 	column-gap: 30px;
		// }

		// @include bp($point_6) {
		// 	column-gap: 20px;
		// }

		@include bp($point_7) {
			position: absolute;
			left: 11px;
			top: -339px;
		}
	}

	// .about-me__item

	&__item {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		column-gap: 60px;

		@include adaptiveValue("column-gap", 60, 20);

		// @include bp($point_3) {
		// 	column-gap: 40px;
		// }

		// @include bp($point_5) {
		// 	column-gap: 30px;
		// }

		// @include bp($point_6) {
		// 	column-gap: 20px;
		// }

		// @include bp($point_7) {
		// 	column-gap: 20px;
		// }

		&::after {
			content: "";
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-image: $textLineColor;
			// margin-left: 60px;

			@include bp($point_7) {
				width: 4px;
				height: 4px;
			}
		}
	}

	// .about-me__link

	&__link {
		font-family: "Orbitron";
		font-weight: 500;
		line-height: 1.25;
		/* 25px/20 */
		/* 125% */
		text-transform: capitalize;
		transition: transform 0.3s, opacity 0.3s;

		@include adaptiveValue("font-size", 20, 14);

		@include bp($point_7) {
			line-height: 1.07;
			/* 15px/14 */
			/* 107.143% */
		}

		@media (any-hover: hover) {
			&:hover {
				transform: translateY(-4px);
			}
		}

		&:active {
			opacity: 0.6;
		}
	}

	&__social {
		display: flex;
		justify-content: center;
	}
}

.title-block {
	overflow: hidden;
}

.section-title {
	// display: flex;               Лінія під текстом за допомогою флекс
	// justify-content: center;        Лінія під текстом за допомогою флекс
	text-align: center;
	// margin-bottom: 40px;
	// margin-bottom: 20px;               Лінія під текстом за допомогою флекс

	// .section-title--left

	&--left {
		text-align: left;

		h2 {

			@include bp($point_7) {
				font-size: 24px;
				line-height: 1.25;
				/* 30px/24 */
				/* 125% */
			}

			&::after {
				left: 0;
				transform: translateX(0);

				@include bp($point_6) {
					bottom: -10px;
				}

				@include bp($point_7) {
					bottom: -4px;
				}
			}
		}
	}

	// .section-title--about-me-margin

	&--about-me-margin {
		margin-bottom: 40px;

		@include bp($point_7) {
			margin-bottom: 26px;
		}
	}

	// .section-title--portfolio-margin,
	// .section-title--testimonials-margin

	&--portfolio-margin,
	&--testimonials-margin {
		margin-bottom: 140px;

		@include bp($point_3) {
			margin-bottom: 100px;
		}

		@include bp($point_6) {
			margin-bottom: 26px;
		}
	}

	// .section-title--footer-inner-margin

	&--footer-inner-margin {
		margin-bottom: 60px;
	}

	// .section-title--mobile

	&--mobile {
		display: none;

		@include bp($point_7) {
			display: block;
			margin-bottom: 47px;

			h2 {
				font-size: 24px;
				font-weight: 700;
				line-height: 1.25;
				/* 30px/24 */
				/* 125% */
				text-transform: uppercase;
			}
		}
	}

	h2 {
		position: relative;
		display: inline-block;
		// display: flex;            Лінія під текстом за допомогою флекс
		// flex-direction: column;   Лінія під текстом за допомогою флекс
		// row-gap: 20px;             Лінія під текстом за допомогою флекс
		// align-items: center;    Лінія під текстом за допомогою флекс
		z-index: 2;

		&::after {
			position: absolute;
			display: block;
			content: "";
			min-width: 133%;
			height: 1px;
			background-image: $textLineColor;
			left: 50%;
			bottom: -20px;
			transform: translateX(-50%);

			@include bp($point_7) {
				bottom: -5px;
			}
		}
	}
}

// Секція Portfolio

/*Секція Portfolio*/

.portfolio {
	position: relative;
	padding: 100px 0 89px;

	@include adaptiveValue("padding-top", 100, 36);
	@include adaptiveValue("padding-bottom", 89, 43);

	// @include bp($point_3) {
	// 	// padding-bottom: 150px;
	// }

	// @include bp($point_4) {
	// 	padding: 50px 0 89px;
	// }

	// @include bp($point_6) {
	// 	padding-bottom: 84px;
	// }

	// @include bp($point_7) {
	// 	padding: 36px 0 43px;
	// }

	& h3 {

		@include bp($point_7) {
			font-size: 14px;
			line-height: 1.07;
			/* 15px/14 */
			/* 107.143% */
		}
	}

	// .portfolio__list

	&__list {
		display: flex;
		justify-content: flex-start;
		column-gap: 40px;
		// flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		z-index: 2;

		@include bp($point_6) {
			column-gap: 21px;
		}
	}

	// .portfolio__item

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;
		flex-basis: 360px;
		flex-shrink: 0;

		@include bp($point_3) {
			flex-basis: 300px;
			row-gap: 35px;
		}

		@include bp($point_5) {
			flex-basis: 250px;
			column-gap: 30px;
		}

		@include bp($point_6) {
			flex-basis: 193px;
			flex-shrink: 0;
			row-gap: 21px;
		}
	}

	// .portfolio__image

	&__image {
		position: relative;
		flex-grow: 1;
		// max-width: 360px;
		// width: 100%;

		@include bp($point_3) {
			max-width: 300px;
		}

		@include bp($point_5) {
			max-width: 250px;
		}

		@include bp($point_6) {
			max-width: 193px;
		}

		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			border: 10px solid transparent;
			background-color: rgba(0, 0, 0, 0.50);
			z-index: 1;
			transition: background-color 0.3s, border-color 0.5s;
		}

		&::after {
			position: absolute;
			content: "play video";
			font-size: 40px;
			font-weight: 700;
			line-height: 1;
			/* 40px/40 */
			/* 100% */
			width: 100%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			text-transform: uppercase;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s, top 0.5s;
		}

		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 360 / 360;
			object-fit: contain;
		}

		@media (any-hover: hover) {
			&:hover::before {
				border-color: #6F00A9;
				background-color: transparent;
			}

			&:hover::after {
				top: 75%;
				opacity: 1;
				visibility: visible;
			}
		}

		&:active {
			opacity: 0.3;
		}
	}

	// .portfolio__icon

	&__icon {
		position: absolute;
		// max-width: 100px;
		width: 28%;
		left: 50%;
		top: 50%;
		z-index: 1;
		transform: translate(-50%, -90%);

		img {
			width: 100%;
		}
	}
}

// Секція testimonials

/*Секція testimonials*/

.testimonials {
	padding: 89px 0 150px;

	@include adaptiveValue("padding-top", 89, 43);
	@include adaptiveValue("padding-bottom", 150, 60);

	// @include bp($point_5) {
	// 	padding-bottom: 100px;
	// }

	// @include bp($point_6) {
	// 	padding-bottom: 60px;
	// }

	// @include bp($point_7) {
	// 	padding: 43px 0 60px;
	// }

	// .testimonials__block

	&__block {
		padding: 0 106px;

		@include bp($point_3) {
			padding: 0 70px;
		}

		@include bp($point_4) {
			padding: 0 20px;
		}

		@include bp($point_6) {
			padding: 0;
		}
	}

	// .testimonials__list

	&__list {
		display: flex;
		// justify-content: flex-start;
		column-gap: 80px;
		// max-width: 1060px;
		overflow: auto;

		@include bp($point_3) {
			column-gap: 40px;
		}

		@include bp($point_5) {
			column-gap: 35px;
		}

		@include bp($point_6) {
			flex-direction: column;
			align-items: center;
			row-gap: 24px;
		}
	}

	// .testimonials__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
		flex-basis: 300px;
		flex-shrink: 0;
		background-color: $cardPrimeryColor;
		padding: 70px 35px;

		@include bp($point_3) {
			flex-basis: 250px;
			flex-shrink: 0;
			padding: 40px 25px;
		}

		@include bp($point_5) {
			flex-basis: 205px;
			padding: 30px 15px;
		}

		@include bp($point_6) {
			max-width: 230px;
			width: 100%;
			padding: 35px 32px;
			flex-basis: 0;
		}

		h3 {
			// flex-grow: 1;

			@include bp($point_6) {
				font-size: 20px;
				line-height: 2;
				/* 40px/20 */
				/* 200% */
			}
		}

		span {
			line-height: 1.75;
			/* 35px/20 */
			/* 175% */
			text-transform: capitalize;

			@include bp($point_3) {
				font-size: 18px;
			}

			@include bp($point_6) {
				line-height: 1.11;
				/* 20px/18 */
				/* 111.111% */
			}
		}

		p {
			line-height: 1.75;
			/* 35px/20 */
			letter-spacing: -0.4px;
			text-align: center;
			text-transform: capitalize;

			@include bp($point_3) {
				font-size: 18px;
			}

			@include bp($point_6) {
				font-size: 14px;
				line-height: 2.14;
				/* 30px/14 */
				/* 214.286% */
				letter-spacing: -0.28px;
			}
		}
	}
}


// Секція separator

/* Секція separator*/

.separator {
	height: 50px;
	background-image: $separatorGradientColor;

	@include bp($point_7) {
		height: 20px;
	}
}

// Секція Footer

/* Секція Footer*/

.footer {
	padding: 160px 0 111px;

	@include bp($point_2) {
		position: relative;
	}

	@include bp($point_7) {
		position: relative;
		padding: 40px 0 150px;
	}

	// .footer__container

	&__container {
		display: flex;
		// align-items: center;
		flex-wrap: wrap;
		column-gap: 253px;

		@include bp($point_1, max) {
			column-gap: 100px;
		}

		@include bp($point_3) {
			justify-content: center;
		}

		@include bp($point_7) {
			flex-direction: column;
			row-gap: 89px;
		}
	}

	// .footer__inner

	&__inner {
		flex-basis: 959px;
		margin-bottom: 80px;
		overflow: hidden;

		@include bp($point_3) {
			flex-basis: 670px;
			flex-grow: 0;

			& .title-block .section-title {
				text-align: center;

				h2 {

					&::after {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}

		@include bp($point_7) {
			display: flex;
			flex-direction: column;
			align-items: center;
			align-self: center;
			flex-basis: auto;
			flex-grow: 0;
			max-width: 200px;
			width: 100%;
			margin-bottom: 0;

			& .title-block .section-title {
				max-width: 171px;
				margin-bottom: 46px;

				h2 {
					&::after {
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}

		&__info {

			@include bp($point_7) {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				row-gap: 44px;
			}
		}
	}

	// .footer__scroll-up

	&__scroll-up {
		letter-spacing: -0.4px;
		text-transform: capitalize;
		writing-mode: vertical-lr;
		transform: rotate(-180deg);
		transition: font-size 0.3s, opacity 0.3s;
		margin-bottom: 8px;

		@include bp($point_2) {
			position: absolute;
			writing-mode: inherit;
			left: 50%;
			top: 90%;
			background-color: #6F00A9;
			padding: 10px;
			margin-bottom: 0;
			transform: rotate(0deg) translateX(-50%);
		}

		@include bp($point_7) {
			display: none;
		}

		@media (any-hover:hover) {
			&:hover {
				transform: scale(1.07);
			}
		}

		&:active {
			opacity: 0.5;
		}
	}
}

.form-footer {
	display: flex;
	column-gap: 40px;

	@include bp($point_3) {
		justify-content: center;
		align-items: flex-end;
	}

	@include bp($point_5) {
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}

	@include bp($point_7) {
		flex-direction: column;
		align-items: center;
		row-gap: 12px;
	}

	// .form-footer__wrapper

	&__wrapper {
		// position: relative;
		display: flex;
		align-items: center;
		column-gap: 40px;

		@include bp($point_3) {
			flex-direction: column;
		}

		@include bp($point_5) {
			justify-content: space-between;
			flex-direction: row;
			max-width: 445px;
			width: 100%;
		}

		@include bp($point_7) {
			flex-direction: column;
			row-gap: 12px;
		}
	}

	// .form-footer__name-label

	&__label {
		line-height: 1.75;
		/* 35px/20 */
		letter-spacing: -0.4px;
		text-transform: capitalize;

		@include bp($point_5) {
			flex-shrink: 0;
		}

		@include bp($point_7) {
			font-size: 16px;
			line-height: 1.12;
			/* 18px/16 */
			/* 112.5% */
			letter-spacing: -0.32px;
		}
	}

	// .form-footer__name

	&__field {
		position: relative;
		border: 1px solid #212121;
		width: 200px;
		height: 45px;
		padding: 10px;
		transition: border-color 0.3s, color 0.4s;

		@include bp($point_5) {
			width: 56%;
		}

		@include bp($point_7) {
			width: 100%;
			height: 36px;
			padding: 8px 12px;
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: #ffffffc9;
			}

			&:hover::placeholder {
				color: #ffffffc9;
			}
		}

		&::placeholder {
			position: absolute;
			font-size: 18px;
			line-height: 1.38;
			/* 25px/18 */
			letter-spacing: -0.36px;
			text-transform: capitalize;
			color: $placeholderTextColor;
			background-color: $backgroundPrimeryColor;
			// text-align: center;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			@include bp($point_7) {
				font-size: 16px;
				line-height: 1.125;
				/* 18px/16 */
				/* 112.5% */
				letter-spacing: -0.32px;
			}
		}

		&:focus::placeholder {
			font-size: 12px;
			left: 15%;
			top: 10%;
		}
	}

	// .form-footer .button

	& .button {
		font-size: 18px;
		line-height: 1.11;
		/* 20px/18 */
		/* 111.111% */

		@include bp($point_7) {
			// width: 100%;
			padding: 8px 70px;
		}
	}
}

.address-footer {
	display: flex;
	column-gap: 80px;

	@include bp($point_3) {
		column-gap: 30px;
	}

	@include bp($point_5) {
		flex-direction: column;
		row-gap: 20px;
	}

	@include bp($point_7) {
		row-gap: 12px;
		margin-bottom: 60px;
	}

	// .address-footer__phone-block,
	// .address-footer__location-block,
	// .address-footer__email-block

	&__phone-block,
	&__location-block,
	&__email-block {
		display: flex;
		align-items: center;
		column-gap: 20px;

		@include bp($point_7) {
			column-gap: 8px;
		}
	}

	&__phone-block {
		order: 1;
	}

	&__location-block {
		order: 2;
	}

	&__email-block {
		order: 3;

		@include bp($point_7) {
			order: 1;
		}
	}

	// .address-footer__icon-phone,
	// .address-footer__icon-location,
	// .address-footer__icon-email

	&__icon-phone,
	&__icon-location,
	&__icon-email {
		// max-width: 20px;
		width: 20px;
		height: 20px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .address-footer__icon-email

	&__icon-email {
		height: 15px;
	}

	// .address-footer__phone-number,
	// .address-footer__location-name,
	// .address-footer__email

	&__phone-number,
	&__location-name,
	&__email {
		letter-spacing: -0.4px;
		text-transform: capitalize;
		transition: transform 0.3s, opacity 0.3s;

		@include bp($point_4) {
			font-size: 17px;
		}

		@include bp($point_7) {
			font-size: 14px;
			font-style: normal;
			line-height: 1.42;
			/* 20px/14 */
			/* 142.857% */
			letter-spacing: -0.28px;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.07);
			}
		}

		&:active {
			opacity: 0.5;
		}
	}

	// .address-footer__email

	&__email {
		text-transform: lowercase;
	}
}


.social-footer {
	// position: absolute;
	display: none;
	// left: 50%;
	// top: 50%;

	@include bp($point_7) {
		display: block;
	}

	// .social-footer__list

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 20px;
	}

	// .social-footer__link

	&__link {
		// max-width: 20px;
		width: 20px;
		height: 20px;
		padding: 3px 4px 4px 1px;
		transition: transform 0.3s, opacity 0.2s;

		&--icon-size {
			width: 25px;
		}

		img {
			width: 100%; //№4 - Вказуй розміри, взагалі 100% всім зображенням, всім. Щоб б не змінив замовник це не має ламатися.
			height: 100%;
			object-fit: contain;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.3);
			}
		}

		&:active {
			opacity: 0.8;
		}
	}
}